# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
venv/
.envrc
.coverage
.pytest_cache/
.mypy_cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# Logs
logs/
*.log

# Misc
*.swp
*.swo
